@font-face {
  font-family: 'IBMPlexSansThai';
  src: url('../fonts/IBMPlexSansThai-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'IBMPlexSansThai';
  src: url('../fonts/IBMPlexSansThai-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'IBMPlexSansThai';
  src: url('../fonts/IBMPlexSansThai-Bold.ttf');
  font-weight: 700;
}