@import "./font";

html {
  scroll-behavior: smooth;
  min-height: 100%;
  height: 100%;
}

body {
  font-family: "IBMPlexSansThai", serif;
  min-height: 100%;
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.pointer {
  cursor: pointer;
}

// ---- header , text --------

.header-1 {
  font-size: 99px;
  line-height: 140%;
  @media #{$mq-mini-mobile} {
    font-size: 69px;
  }
}
.header-2 {
  font-size: 55px;
  line-height: 140%;
  @media #{$mq-mini-mobile} {
    font-size: 44px;
  }
}
.header-3 {
  font-size: 40px;
  line-height: 140%;
  @media #{$mq-mini-mobile} {
    font-size: 29px;
  }
}
.header-4 {
  font-size: 32px;
  line-height: 140%;
  @media #{$mq-mini-mobile} {
    font-size: 25px;
  }
}
.header-5 {
  font-size: 26px;
  line-height: 140%;
  @media #{$mq-mini-mobile} {
    font-size: 20px;
  }
}

.text-1 {
  line-height: 140%;
  font-size: 24px;
  @media #{$mq-mini-mobile} {
    font-size: 18px;
  }
}
.text-2 {
  line-height: 140%;
  font-size: 20px;
  @media #{$mq-mini-mobile} {
    font-size: 16px;
  }
}
.text-3 {
  line-height: 140%;
  font-size: 16px;
  @media #{$mq-mini-mobile} {
    font-size: 14px;
  }
}
.text-4 {
  line-height: 140%;
  font-size: 13px;
  @media #{$mq-mini-mobile} {
    font-size: 12px;
  }
}

// ------------ color ----------------
.white-a {
  color: $white-a;
}

.white-b {
  color: $white-b;
}

.white-c {
  color: $white-b;
}

.orange-a {
  color: $orange-a;
}

.orange-b {
  color: $orange-b;
}

.purple-a {
  color: $purple-a;
}

.purple-b {
  color: $purple-b;
}

.blue-a {
  color: $blue-a;
}

.blue-b {
  color: $blue-b;
}

.light-blue {
  color: $light-blue;
}

.green {
  color: $green;
}

.lime {
  color: $lime;
}

.lime-b {
  color: $lime-b;
}

.light-grey {
  color: $light-grey;
}

.grey {
  color: $grey;
}

.yellow {
  color: $yellow;
}

.black {
  color: $black;
}

.red {
  color: $red;
}

// ----------------------------

.bg-white-a {
  background-color: $white-a;
}

.bg-white-b {
  background-color: $white-b;
}

.bg-white-c {
  background-color: $white-b;
}

.bg-orange-a {
  background-color: $orange-a;
}

.bg-orange-b {
  background-color: $orange-b;
}

.bg-purple-a {
  background-color: $purple-a;
}

.bg-purple-b {
  background-color: $purple-b;
}

.bg-blue-a {
  background-color: $blue-a;
}

.bg-blue-b {
  background-color: $blue-b;
}

.bg-light-blue {
  background-color: $light-blue;
}

.bg-green {
  background-color: $green;
}

.bg-lime {
  background-color: $lime;
}

.bg-lime-b {
  background-color: $lime-b;
}

.bg-light-grey {
  background-color: $light-grey;
}

.bg-grey {
  background-color: $grey;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-black {
  background-color: $black;
}

// ----------------------------

::-webkit-input-placeholder {
  /* Edge */
  color: #ffb9af;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffb9af;
}

::placeholder {
  color: #ffb9af;
}

.scrollama__debug-offset {
  display: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s !important;
}
.fade-enter,
.fade-leave-to {
  opacity: 0 !important;
}

.modal-content {
  background: none;
  border: 0;
}

.modal-open {
  padding-right: 0 !important;
}

.w-sm-50 {
  width: 50%;
  @media #{$mq-mobile} {
    width: 100%;
    padding: 0 10px;
  }
}

.opacity-0-5 {
  opacity: 0.5;
}

.cursor-grab {
  cursor: grab;
}

.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.popover {
  z-index: 10;
}

.content-box {
  max-width: 700px;
  margin: auto;
}

.w-fit {
  width: fit-content;
}

::-webkit-scrollbar {
  width: 10px;
  background: #323232;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #d9d9d9;
  border: 2px solid #323232;
}

.slick-arrow {
  z-index: 5;
}

.slick-dots {
  bottom: -30px !important;

  li button:before,
  li.slick-active button:before {
    color: transparent;
    opacity: 1;
  }
  li button:before {
    background-color: #d1d2d2;
    border-radius: 0;
    display: inline-block;
    height: 10px !important;
    width: 10px !important;
    font-size: 0 !important;
  }
  li.slick-active button:before {
    background-color: #000;
  }
}

.slick-dots li {
  height: 10px !important;
  width: 10px !important;
  @media #{$mq-mini-mobile} {
    height: 5px !important;
    width: 5px !important;
  }
}

.slick-dots li button {
  height: 5px !important;
  width: 5px !important;
}

.slick-next::before {
  content: "" !important;
  display: block;
  height: 40px;
  background-size: contain;
  width: 40px;
  @media #{$mq-mini-mobile} {
    // height: 25px;
    // width: 25px;
  }
}

.slick-prev::before {
  content: "" !important;
  display: block;
  height: 40px;
  background-size: contain;
  width: 40px;
  right: 15px;
  position: relative;
  @media #{$mq-mini-mobile} {
    // position: unset;
    // height: 25px;
    // width: 25px;
  }
}

.work-card-wrapper .slick-prev::before {
  background: url("../images/arrow_left_black.svg") no-repeat;
  top: 145px;
  left: 25px;
}

.work-card-wrapper .slick-next::before {
  background: url("../images/arrow_right_black.svg") no-repeat;
  top: 145px;
  right: 40px;
  position: relative;
  @media #{$mq-mobile} {
    right: 15px;
  }

  @media #{$mq-mini-mobile} {
    bottom: 385px;
  }
}

.work-card-wrapper-2 .slick-prev::before {
  background: url("../images/arrow_left_white.svg") no-repeat;
  bottom: 440px;
  left: 25px;

  @media #{$mq-mini-mobile} {
    bottom: 385px;
  }
}

.work-card-wrapper-2 .slick-next::before {
  background: url("../images/arrow_right_white.svg") no-repeat;
  bottom: 440px;
  right: 40px;
  position: relative;

  @media #{$mq-mobile} {
    right: 15px;
  }

  @media #{$mq-mini-mobile} {
    bottom: 385px;
  }
}

.work-card-type-wrapper .slick-next::before,
.work-card-type-wrapper .slick-prev::before {
  @media #{$mq-mini-mobile} {
    top: 95px;
  }
}

.work-card-wrapper-2 .slick-dots {
  bottom: -30px !important;
  @media #{$mq-mini-mobile} {
    bottom: -20px !important;
  }
}

.slick-next {
  @media #{$mq-mobile} {
    right: 0 !important;
  }
}

.slick-track {
  display: flex;
}

.slick-slide {
  height: inherit !important;
}

.popover {
  font-family: "IBMPlexSansThai", serif;
  background: #e0fd6a;
  padding: 15px;
  .arrow::before,
  .arrow::after {
    border-top-color: #e0fd6a;
    border-bottom-color: #e0fd6a;
  }

  .popover-body {
    padding: 0;
  }
}

.pao-popover-wrapper {
  background: #fffef5 !important;

  .arrow::after {
    border-top-color: #fffef5 !important;
    border-bottom-color: #fffef5 !important;
  }
}

.drag-wrapper::-webkit-scrollbar {
  display: none;
}

.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none !important;
}

.nowrap {
  white-space: nowrap;
}

a:hover {
  color: unset;
}

.text-underline {
  text-decoration: underline;
}
