$green: #89E26A;
$lime: #D7FFB7;
$lime-b: #E0FD6A;
$purple-a: #F2A8EE;
$purple-b: #A80C7C;
$pink: #fa9cc0;
$blue-a: #0056A6;
$blue-b: #253472;
$light-blue: #208FDF;
$red: #ff0024;
$orange-a: #FF8540;
$orange-b: #EC6440;
$yellow: #FFB930;
$black: #181F1C;
$white: #fff;
$light-grey: #F6F6F6;
$grey: #4A4E5E;
$white-a: #E5FBFF;
$white-b: #FFFEF5;
$white-c: #F1E6D7;

$bp-mini-mobile: 600px;
$bp-mobile: 768px;
$bp-lg: 992px;
$bp-tablet: 1024px;
$bp-small-laptop: 1200px;
$mq-small-laptop: "(max-width: #{$bp-small-laptop})";
$mq-mobile: "(max-width: #{$bp-mobile})";
$mq-tablet: "(max-width: #{$bp-tablet})";
$mq-lg: "(max-width: #{$bp-lg})";
$mq-mini-mobile: "(max-width: #{$bp-mini-mobile})";